{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <h4 class="mt-3 mb-2">Mangle</h4>

        <table id="example" class="cell-border display nowrap" style="width:100%">
            <thead>
            <tr>
                <th scope="col">HOST</th>
                <th scope="col">CHAIN</th>
                <th scope="col">ACTION</th>
            </tr>
            </thead>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "ajax": {
                    "url": "getMangles",
                    "dataSrc": "data"
                },
                "columns": [
                    {data: 'host'},
                    {data: 'chain'},
                    {data: 'action'}
                ]
            });
        });
    </script>
{% endblock body %}