{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <h4 class="mt-3 mb-2">PPP</h4>
        <table id="example" class="cell-border display nowrap" style="width:100%">
            <thead>
            <tr>
                <th scope="col">host</th>
                <th scope="col">name</th>
                <th scope="col">local-address</th>
                <th scope="col">remote-address</th>
                <th scope="col">service</th>
                <th scope="col">disabled</th>
            </tr>
            </thead>
        </table>
    </div>
    <script>
        {#var devlist = {{ devlist|safe }};#}
        {#console.log(devlist);#}
        $(document).ready(function () {
            $('#example').DataTable({
                "ajax": {
                    "url": "getPPP",
                    "dataSrc": "data"
                },
                "columns": [
                    {data: 'host'},
                    {data: 'name'},
                    {data: 'local-address'},
                    {data: 'remote-address'},
                    {data: 'service'},
                    {data: 'disabled'}
                ],
                columnDefs: [{type: 'name', targets: 1}],
                order: [[1, 'asc']]
            });
        });
    </script>
{% endblock body %}